<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign In - Budgeo</title>
  <link rel="icon" href="/images/logo-white.png" type="image/png" />
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <section class="section" style="min-height: 100vh">
      <div class="container">
        <h1 class="title is-3 has-text-centered">Sign in</h1>
        <form action="/budgeo/auth/sign-in" method="POST" class="box" style="max-width: 400px; margin: 0 auto">
          <div class="field">
            <div class="field notification is-primary has-text-centered" <%=signedOut ? '' : 'hidden' %>>
              <button class="delete" type="button" onclick="this.parentNode.hidden=true"></button>
              You have been signed out.
            </div>
            <div class="field notification is-primary has-text-centered" <%=newUser ? '' : 'hidden' %>>
              <button class="delete" type="button" onclick="this.parentNode.hidden=true"></button>
              You have successfully signed up to Budgeo.<br> Sign in now to get started!
            </div>
            <label class="label" for="username">Username:</label>
            <div class="control">
              <input class="input" type="text" name="username" id="username" required />
            </div>
          </div>
          <div class="field">
            <label class="label" for="password">Password:</label>
            <div class="control">
              <input class="input" type="password" name="password" id="password" required />
            </div>
          </div>
          <div class="field notification is-primary has-text-centered" <%=showMessage ? '' : 'hidden' %>>
            <button class="delete" type="button" onclick="this.parentNode.hidden=true"></button>
            Login failed. Please try again.
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button class="button is-primary" type="submit">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </section>
</body>

</html>