<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="icon" href="/images/logo.png" type="image/png" />
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
    <style>
      .input:active,
      .input:focus,
      .is-active.input,
      .is-active.textarea,
      .is-focused.input,
      .is-focused.textarea,
      .select select.is-active,
      .select select.is-focused,
      .select select:active,
      .select select:focus,
      .textarea:active,
      .textarea:focus {
        border-color: #34495e !important;
        box-shadow: 0 0 0 .125em #34495e33 !important;
      }
      .select:not(.is-multiple):not(.is-loading)::after {
        border-color: #238cd1;
      }
      </style>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="section">
      <div class="container">
        <h1 class="title is-3 has-text-centered">Sign in</h1>
        <form
          action="/auth/sign-in"
          method="POST"
          class="box"
          style="max-width: 400px; margin: 0 auto"
        >
          <div class="field">
            <label class="label" for="username">Username:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="username"
                id="username"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label" for="password">Password:</label>
            <div class="control">
              <input
                class="input"
                type="password"
                name="password"
                id="password"
                required
              />
            </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button class="button is-primary" type="submit">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
