<% if (path===`/${username}/expenses` && expense.length>= 1) { %>
    <div class="field is-grouped is-grouped-centered buttons are-large main-link-group" style="gap: 1rem">
        <a href="/budgeo/<%=username%>/expenses/new" class="button is-primary is-inverted main-link-button">Add A New
            Expense</a>
        <a href="/budgeo/<%=username%>/data" class="button is-primary is-inverted main-link-button">View Financial
            Data</a>
    </div>
    <% } else if (expense.length < 1 && path===`/${username}/expenses`) { %>
        <div class="field has-text-centered">
            <a href="/budgeo/<%=username%>/expenses/new" class="button is-primary is-inverted is-large main-link-button">Add A
                New Expense</a>
        </div>
        <% } else { %>
            <div class="field has-text-centered">
                <a href="/budgeo/<%=username%>/expenses"
                    class="button is-primary is-inverted is-large main-link-button">Back to Expenses</a>
            </div>
            <% } %>