<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= user.username.endsWith('s') ? user.username + "' Budget Charts" :
      user.username + "'s Budget Charts" %>
    </title>
    <link rel="icon" href="/images/logo.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    
  </body>
</html>
  </body>
</html>
